<div class="container-fluid bck_lists d-flex justify-content-center align-items-center">

<h1>Listez n'importe quel film</h1>
</div>
<ul class="lists">
<% @lists.each do |list| %>
<li>
<div class="card_list">
  <div class="card-body d-flex justify-content-center align-items-center">
    <%= link_to list.name, list %>
  </div>
</div>
</li>
<% end %>
<%= render "form", list: @list %>
</ul>
