// Import page-specific CSS files here.
@import "home";
@import "lists";

* {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
