body {
  background-image: url('https://wallpapercave.com/wp/wp4016022.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.bck_lists {
  height: 350px;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

$width_card: 250px;

.lists {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $width_card);
  background-color: rgba(28, 28, 28, 0.215);
  gap: 20px;
  .card_list {
    backdrop-filter: blur(10px);
    border: 1px solid black;
    box-shadow: 1px 1px 4px black;
    transition: all 0.5s;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $width_card;
      height: 100px;
      color: white;
      text-decoration: none;
      font-size: 20px;
      transition: all 0.5s;
    }
    a:hover {
      color: black;
      transition: 0.5s all;
    }
    :not(a:hover) {
      color: grey;
      transition: 0.5s all;
    }
  }
}
